<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>vanero Webdesign</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vanero/basic.css" />
        {% block extrahead %}
        {% endblock extrahead %}
    </head>


    <body>

        <div id="first_container">
            <div id="second_container">
                <div id="third_container">
                

                
                    <ul id="menu">
                        <li><a href="">Contact</a></li>
                        <li><a href="">Portfolio</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">About me</a></li>
                        <li><span id="menuselected">Home</span></li>
                    </ul>
                    
                    <div class="title"></div>

                    <div class="border">
                        <div class="content">
                                <h1>{% block heading %}{% endblock heading %}</h1>
                                <div class="text">
                                    {% block content %}
                                    {% endblock content %}
                                </div>
                                
                        </div>
                    </div>

                    
                    <div class="designinfo">
                        valid XHTML | valid CSS | Design by Vanero
                    </div>
                    
                </div>
            </div>
        </div>
                
    </body>
    
</html>
    