{% extends "carpool/carpool_base.html" %}

{% block extrahead %}
{{ form.media }}
{% endblock extrahead %}

{% block heading %}
Legg til tur
{% endblock heading %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="uniForm">
{% csrf_token %}
{% comment %}
<dl>
    {% for field in form %}
    <dt class="cleared{% if field.errors %} errors{% endif %}">{{ field.label_tag }}{% if field.field.required %}*{% endif %}</dt>
    <dd class="cleared{% if field.errors %} errors{% endif %}">{{ field }}{{ field.errors }}  </dd>

    {% endfor %}
    <dt class="cleared centered">Alle felter med (*) er påkrevd  </dd></dt>
    <dd class="cleared centered{% if form.non_field_errors %} errors{% endif %}">{{ form.non_field_errors }}<input type="submit" value="Send"> <input type="reset"></dd>
</dl>
</dl>

{% endcomment %}

{% load uni_form_tags %}
{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

</form>


{% endblock content %}
